.stiky-logo {
  display: none;
}

.stiky-phone {
  display: none;
}

.is-sticky {
  .top_header {

    @media all and (min-width: 1000px) {
      display: none;
    }
  }

  .mega_menu_btn {
    display: flex;
    gap: 100px;
  }

  .stiky-logo {
    @media all and (min-width: 1000px) {
      display: block;
      position: relative;
      top: 5px;

      img {
        width: 40px;
        height: 40px;
      }
    }
  }

  .header_menu {
    width: 55%;
  }

  .stiky-phone {
    @media all and (min-width: 1000px) {
      display: block;
      align-self: center;

      a {
        color: #FFF;
        text-decoration: none;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}

.contacts_row{
  .col-left{
    display: none;
  }
}

@media all and (min-width: 1000px) {

  .contacts_row{
    .col-left{
      display: block;
    }
  }

  a.btn.btn_green.send-request {
    padding-top: 7px;
    padding-bottom: 7px;

    &:hover{
      text-decoration: none;
    }
  }

  .b_header .desktop_contacts .contacts_wrapper{
    align-items: center;
  }

  .b_header .desktop_contacts .contacts_row:last-of-type {
    display: flex;
    gap: 20px;
    width: 50%;
    justify-content: right;
    align-items: flex-end;
  }
}

.page-id-17{
  .section{
    padding-bottom: 0;
  }
}

@media all and (min-width: 1450px){
  div#sticky-wrapper {
    height: 163px !important;
    &.is-sticky{
      height: 70px !important;
    }
  }
}

@media all and (min-width: 900px){
  div#sticky-wrapper {
    height: 135px !important;
    &.is-sticky{
      height: 70px !important;
    }
  }
}